APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

APP_ENVIRONMENT='local'

# --------------------------------- MULTIPLE DATABASE CONNECTIONS ---------------------------------
DB_CONNECTION=central
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=readybill_central
DB_USERNAME=root
DB_PASSWORD=

GROCERY_INDIA_DB_CONNECTION=grocery_india
GROCERY_INDIA_DB_HOST=127.0.0.1
GROCERY_INDIA_DB_PORT=3306
GROCERY_INDIA_DB_DATABASE=readybill_grocery_india
GROCERY_INDIA_DB_USERNAME=root
GROCERY_INDIA_DB_PASSWORD=


GROCERY_GERMAN_DB_CONNECTION=grocery_germany
GROCERY_GERMAN_DB_HOST=127.0.0.1
GROCERY_GERMAN_DB_PORT=3306
GROCERY_GERMAN_DB_DATABASE=readybill_grocery_german
GROCERY_GERMAN_DB_USERNAME=root
GROCERY_GERMAN_DB_PASSWORD=


# PHARMA_DB_CONNECTION=pharma
# PHARMA_DB_HOST=127.0.0.1
# PHARMA_DB_PORT=3306
# PHARMA_DB_DATABASE=readybill_pharma
# PHARMA_DB_USERNAME=root
# PHARMA_DB_PASSWORD=

# --------------------------------- MULTIPLE DATABASE CONNECTIONS ---------------------------------

BROCCAST_DRIVER=reverb
CACHE_DRIVER=memcached
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=memcached
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME='your_email_here@gmail.com'
# MAIL_PASSWORD='your_app_password_here'
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS="no-reply@readybill.app"
# # MAIL_FROM_NAME="${APP_NAME}"
# MAIL_FROM_NAME="ReadyBill"

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME='your_email_here@gmail.com'
MAIL_PASSWORD='your_app_password_here'
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@readybill.app"
MAIL_FROM_NAME="Readybill"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# ----------------------------------------------- API VERSION -----------------------------------------------
API_VERSION ="v2"
APP_VERSION = "1.0.0"

GROCERY_INDIA_PREFIX = "in/grocery/"
GROCERY_GERMANY_PREFIX = "de/grocery/"

VITE_GROCERY_INDIA_PREFIX = "in/grocery/"
VITE_GROCERY_GERMANY_PREFIX = "de/grocery/"

ADMIN_PREFIX = "admin-panel"
ADMIN_LOGOUT_URL = "/admin-panel"
ADMIN_URL = "admin-panel"

# ----------------------------------------------- API VERSION -----------------------------------------------

# ----------------------------------------------- SMS ENABLE OR DISABLED -----------------------------------------------
smsEnabled=0  # 0 - DISABLE, 1 - ENABLE
# ----------------------------------------------- SMS ENABLE OR DISABLED -----------------------------------------------


# ----------------------------------------------- LOCAL SERVER URLS -----------------------------------------------
FRONTEND_URL="http://localhost:3000"
BASE_URL="http://127.0.0.1:8000"

API_URL="http://127.0.0.1:8000/api/v2/"
VITE_API_URL="http://127.0.0.1:8000/api/v2/"

MEDIA_URL="http://127.0.0.1:8000/storage/"
LOGO_URL="http://localhost/ready-bill/readybill/backend/public/storage/logo/"
PHOTO_URL="http://localhost/ready-bill/readybill/backend/public/storage/photo/"
SIGNATURE_URL="http://localhost/ready-bill/readybill/backend/public/storage/shop/signature/"
PUBLIC_URL="http://127.0.0.1:8000/assets/img/icons/"

# ----------------------------------------------- LOCAL SERVER URLS -----------------------------------------------


# ----------------------------------------------- DEVELOPEMENT SERVER URLS -----------------------------------------------
# BASE_URL="https://dev.readybill.app"

# API_URL="https://dev.readybill.app/api/v2/"
# VITE_API_URL="https://dev.readybill.app/api/v2/"

# MEDIA_URL="https://dev.readybill.app/storage/"
# LOGO_URL="https://dev.readybill.app/storage/logo/"
# PUBLIC_URL="https://dev.readybill.app/assets/img/icons/"
# ----------------------------------------------- DEVELOPEMENT SERVER URLS -----------------------------------------------


# ----------------------------------------------- STAGING SERVER URLS -----------------------------------------------
# BASE_URL="https://stage.readybill.app"

# API_URL="https://stage.readybill.app/api/v2/"
# VITE_API_URL="https://stage.readybill.app/api/v2/"

# MEDIA_URL="https://stage.readybill.app/storage/"
# LOGO_URL="https://stage.readybill.app/storage/logo/"
# PUBLIC_URL="https://stage.readybill.app/assets/img/icons/"
# ----------------------------------------------- STAGING SERVER URLS -----------------------------------------------

# OTP expiry time
OTP_EXPIRY = 5

# Maximum OPT attempt
OTP_COUNT = 4

# MAXIMUM COUNTDOWN
COUNTDOWN = 60 # 1 MINUTE


AGENT_OTP_EXPIRY_MINUTES=5
AGENT_OTP_COOLDOWN_SECONDS=60
AGENT_OTP_MAX_ATTEMPTS=5
AGENT_OTP_LOCKOUT_MINUTES=15

# ----------------------------------------------- SUBSCRIPTION CONFIGURATIONS -----------------------------------------------
# Subscription Configuration
SUBSCRIPTION_FREE_PLAN_EXPIRY_DAYS = 100 
FREE_SUBSCRIPTION_ID=1
FREE_PLAN_ACCESS=restricted

# Report data access (in years)
FREE_PLAN_REPORT_DATA_YEARS=1
PREMIUM_PLAN_REPORT_DATA_YEARS=3

# ----------------------------------------------- SUBSCRIPTION CONFIGURATIONS -----------------------------------------------


# ----------------------------------------------- ROOT ADMIN EMAIL ADDRESS -----------------------------------------------
ROOT_ADMIN_EMAIL_ADDRESS = 'your_admin_email@example.com'
# ----------------------------------------------- ROOT ADMIN EMAIL ADDRESS -----------------------------------------------


# ----------------------------------------------- FIREBASE -----------------------------------------------
# FIREBASE_CREDENTIALS=storage/app/google-services.json


FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
FIREBASE_DATABASE_URL=your_firebase_database_url
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
FIREBASE_APP_ID=your_firebase_app_id
FIREBASE_CREDENTIALS=storage/app/google-services.json

# ----------------------------------------------- FIREBASE -----------------------------------------------


# ----------------------------------------------- CACHE KEY PREFIX -----------------------------------------------
CACHE_KEY_PREFIX=dev_
# ----------------------------------------------- CACHE KEY PREFIX -----------------------------------------------


TELESCOPE_ENABLED=false

# ----------------------------------------------- CLEAR LOGS -----------------------------------------------
LOG_RETENTION_DAYS = 7
# ----------------------------------------------- CLEAR LOGS -----------------------------------------------

# ----------------------------------------------- CLEAR TRANSACTIONS DATA -----------------------------------------------
TRANSACTION_RETENTION_DAYS = 1095  # 3 YEARS
# ----------------------------------------------- CLEAR TRANSACTIONS DATA -----------------------------------------------


# ----------------------------------------------- REVERB VARIABLES -----------------------------------------------
REVERB_APP_ID=your_reverb_app_id
REVERB_APP_KEY=your_reverb_app_key
REVERB_APP_SECRET=your_reverb_app_secret
REVERB_HOST="your_reverb_host"
REVERB_PORT=443
REVERB_SCHEME=https

REVERB_SERVER_HOST=0.0.0.0  # Internal server host
REVERB_SERVER_PORT=8080

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
# ----------------------------------------------- REVERB VARIABLES -----------------------------------------------



# ----------------------------------------------- SECRET KEY -----------------------------------------------
API_SECRET_KEY=your_api_secret_key
# ----------------------------------------------- SECRET KEY -----------------------------------------------


# ----------------------------------------------- ENCRYPTED SECRET KEY -----------------------------------------------
ENCRYPTED_API_SECRET_KEY = "your_encrypted_api_secret_key"
# ----------------------------------------------- ENCRYPTED SECRET KEY -----------------------------------------------


# ----------------------------------------------- MOBILE NUMBER LENGTH -----------------------------------------------
IN_PHONE_MIN_LENGTH=10
IN_PHONE_MAX_LENGTH=10

OTHER_PHONE_MIN_LENGTH=10
OTHER_PHONE_MAX_LENGTH=12
# ----------------------------------------------- MOBILE NUMBER LENGTH -----------------------------------------------



# ----------------------------------------------- AGENT & COMPANY COMMISSION -----------------------------------------------
AGENT_COMMISSION = 84
COMPANY_COMMISSION = 16
# ----------------------------------------------- AGENT & COMPANY COMMISSION -----------------------------------------------


# REVERB_APP_ID=your_reverb_app_id
# REVERB_APP_KEY=your_reverb_app_key
# REVERB_APP_SECRET=your_reverb_app_secret
# REVERB_HOST="localhost"
# REVERB_PORT=8080
# REVERB_SCHEME=http

# VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
# VITE_REVERB_HOST="${VITE_REVERB_HOST}"
# VITE_REVERB_PORT="${REVERB_PORT}"
# VITE_REVERB_SCHEME="${REVERB_SCHEME}"
